/* Estilização do site do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.google {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.headerGoogle {
    display: flex;
    background-color: #fff;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
}
.link {
    color: rgba(0, 0, 0, 0.849);
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
ion-icon {
    color: rgba(99, 99, 99, 0.849);
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
}
ion-icon:hover {
    background-color:  rgba(212, 212, 212, 0.849);
    border-radius: 100%;
}
.btnLogin {
    margin-right: 15px;
    padding: 10px 15px;
    background-color: #1a73e8;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px #1a73e886;
}
.link:hover {
    text-decoration: underline;
}
.mainGoogle {
    background-color: aquamarine;
    flex-grow: 1;
}

.footerGoogle{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}
.linkFooter {
    color: #646464;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}